{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <div class="contenu">
        <h1>Modifier Catégorie</h1>
        <div class="form-horizontal">
            <div class="form-group">
                {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input type="submit" value="Edit" class="btn btn-default" />
                {{ form_end(edit_form) }}
            </div>
        </div>
        <ul>
            <li>
                <a href="{{ path('category_index') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>Retourner à catégories</a>
            </li>
            <li>
                <a href="{{ path('administracion_category_edit_photo', { 'id' : category.id }) }}" class="btn btn-default">
                    Changer photo
                </a>
            </li>
            {#<li>
                {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-default" />
                {{ form_end(delete_form) }}
            </li>#}
        </ul>

    </div>
{% endblock %}
