<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Cuisine Vive{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Catamaran|Dancing+Script" rel="stylesheet">
        {% block stylesheets %}
            {% stylesheets 'Resources/public/css/*' filter='cssrewrite' output='css/compiled/app.css' %}
            <link href="{{ asset_url }}" rel="stylesheet" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body>
        {#<header>
            <div class="barTop">  
                <div class="content">
                    <div class="links">
                        <a href="{{ lang.homepage.sectionTop.link0.path}}">
                            <p class="">{{ lang.homepage.sectionTop.link0.title}}</p>
                        </a>
                        <a href="{{ lang.homepage.sectionTop.link1.path}}">
                            <p class="">{{ lang.homepage.sectionTop.link1.title}}</p>
                        </a>
                        {#<form method="POST">
                            <input type="hidden" name="language" value="{{ lang.homepage.sectionTop.link2.path }}">
                            <input type="submit" value="{{ lang.homepage.sectionTop.link2.title}}">
                        </form>
                        <div class="social-networks">
                            <ul>
                                <li class=""><a href="{{ lang.homepage.sectionTop.socialIcons.link1.path}}" target="_blank">
                                        <span class="icon icon-facebook-with-circle"/></a></li>
                                        {#<li class=""><a href="{{ lang.homepage.sectionTop.socialIcons.link2.path}}" target="_blank">
                                                <span class="icon icon-twitter-with-circle"/></a></li>
                                <li class=""> <a href="{{ lang.homepage.sectionTop.socialIcons.link3.path}}" target="_blank">
                                        <span class="icon icon-instagram-with-circle"/></a></li>
                                        {#<li class=""><a href="{{ lang.homepage.sectionTop.socialIcons.link4.path}}" target="_blank">
                                                <span class="icon icon-youtube-with-circle"/></a></li>#}
        {#<li class=""> <a href="{{ lang.homepage.sectionTop.socialIcons.link5.path}}" target="_blank">
                <span class="icon icon-google-with-circle"/></a></li>
<li class=""><a href="{{ lang.homepage.sectionTop.socialIcons.link6.path}}" target="_blank">
        <span class="icon icon-pinterest-with-circle"/></a></li>
</ul>
</div>
</div>
</div>
</div>
<nav class="navbar content">
<h1>
<a href="/">
{% image 'Resources/public/images/logo.png' %}
<img src="{{ asset_url }}" alt="Cuisine Vive" />
{% endimage %}
</a>    
</h1>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
<li class="active"><a href="{{ lang.homepage.sectionTop.menu1.path}}"> <span class="icon-home"></span></a></li>
<li><a href="{{ lang.homepage.sectionTop.menu3.path}}">{{ lang.homepage.sectionTop.menu3.title}}</a></li>
<li><a href="{{ lang.homepage.sectionTop.menu4.path}}">{{ lang.homepage.sectionTop.menu4.title}}</a></li>
<li><a href="{{ lang.homepage.sectionTop.menu2.path}}">{{ lang.homepage.sectionTop.menu2.title}}</a></li>
<li><a href="{{ lang.homepage.sectionTop.menu5.path}}">{{ lang.homepage.sectionTop.menu5.title}}</a></li>
<li><a  href="" data-toggle="modal" data-target="#myModal"> <span class="icon-shopping-cart"></span></a></li>
</ul>
</div>
</nav>
</header>#}
    {% block body %}{% endblock %}
    <footer>
        <div class="content">
            <div class="col col-1">
                <li><a href="{{ lang.homepage.sectionTop.menu3.path}}">{{ lang.homepage.sectionTop.menu3.title}}</a></li>
                <li><a href="{{ lang.homepage.sectionTop.menu2.path}}">{{ lang.homepage.sectionTop.menu2.title}}</a></li>                
            </div>
            <div class="col col-2">
                <li><a href="{{ lang.homepage.sectionTop.menu4.path}}">{{ lang.homepage.sectionTop.menu4.title}}</a></li>
                <li><a href="{{ lang.homepage.sectionTop.menu5.path}}">{{ lang.homepage.sectionTop.menu5.title}}</a></li>
            </div>
            <div class="col col-3">                
                <div class="copyright ">
                    <span class="wt">Cuisine Vive</span> - 702 2e Avenue, Montréal, QC H8S 0A3<div style="clear:both"></div>
                    <span class="wt">Copyright © 2017 </span><a class="wt" href="#" target="_blank">Cuisine Vive</a>
                    {#Powered by <a href="" target="_blank">CarlosyVanessa Marketing</a> #}
                </div>
            </div>
            <div class="col col-4">
                <div class="social-networks">
                    <ul>
                        <li class=""><a href="{{ lang.homepage.sectionTop.socialIcons.link1.path}}" target="_blank">
                                <span class="icon icon-facebook-with-circle"/></a></li>
                                {#<li class=""><a href="{{ lang.homepage.sectionTop.socialIcons.link2.path}}" target="_blank">
                                        <span class="icon icon-twitter-with-circle"/></a></li>#}
                        <li class=""> <a href="{{ lang.homepage.sectionTop.socialIcons.link3.path}}" target="_blank">
                                <span class="icon icon-instagram-with-circle"/></a></li>
                                {#<li class=""><a href="{{ lang.homepage.sectionTop.socialIcons.link4.path}}" target="_blank">
                                        <span class="icon icon-youtube-with-circle"/></a></li>#}
                                {#<li class=""> <a href="{{ lang.homepage.sectionTop.socialIcons.link5.path}}" target="_blank">
                                        <span class="icon icon-google-with-circle"/></a></li>#}
                        <li class=""><a href="{{ lang.homepage.sectionTop.socialIcons.link6.path}}" target="_blank">
                                <span class="icon icon-pinterest-with-circle"/></a></li>
                    </ul> 
                </div>
            </div>
        </div>
    </footer>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">          
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="icon icon-circle-with-cross"/></button>
                    {% image 'Resources/public/images/logo.png' %}<img src="{{ asset_url }}" alt="Cuisine Vive"/>{% endimage %}

                    <h4 class="modal-title" id="myModalLabel">{{ lang.shoppingCart.title.text }}</h4>
                </div>
                <div class="modal-body" id="results">
                    {% if cart %}
                        <table class="table table-condensed">
                            <tr>
                                <th></th>
                                <th class="name">{{ lang.shoppingCart.contenu.dishName }}</th>
                                <th class="portion">{{ lang.shoppingCart.contenu.dishPortion }}</th>
                                <th>{{ lang.shoppingCart.contenu.dishPrice }}</th>
                                <th class="qty">{{ lang.shoppingCart.contenu.dishQty }}</th>
                                <th class="total">{{ lang.shoppingCart.contenu.dishTotal }}</th>
                            </tr>
                            {% for item in cart %}
                                <tr id="item_{{ item.id }}">
                                    <td><img class="" src="{{ asset('Resources/public/images/' ~ item.photo ) }}" alt="{{ item.dishName }}" /></td>
                                    <td >{{ item.dishName }}</td>
                                    <td >{{ item.portionName }}</td>
                                    <td>$<input type="text" class="price"  id="price_{{ item.id }}" value="{{ item.price }}" disabled="disabled" ></td>
                                    <td>
                                        <div class="editQte">
                                            <span class="glyphicon glyphicon-minus-sign" data-minus="_{{ item.id }}"></span>
                                            <input type="text" class="chartQte" id="qte_{{ item.id }}" data-total="_{{ item.id }}" value="{{ item.qte }}">
                                            <span class="glyphicon glyphicon-plus-sign" data-plus="_{{ item.id }}"></span>
                                            
                                        </div>
                                    </td>
                                    <td><input type="text" id="total_{{ item.id }}" class="orderTotal chartTotal" disabled="disabled"></td>
                                    <td><span class="glyphicon glyphicon-trash" data-delete="_{{ item.id }}"></span></td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>TPS (5%)</td>
                                <td><input type="text" id="tps_total" class="chartTotal" disabled="disabled"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>TVQ (9.975%)</td>
                                <td><input type="text" id="tvq_total" class="chartTotal" disabled="disabled"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>TOTAL</td>
                                <td><input type="text" id="total_total" class="total_total" disabled="disabled"></td>
                                <td></td>
                            </tr>
                        </table>
                    {% else %}
                        <p>{{ lang.shoppingCart.contenu.emptyText }}</p>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn-2" data-dismiss="modal">keep shopping</a>
                    <a type="button" class="btn-1" href="{{ path('order') }}">order now</a>
                </div>
            </div>
        </div>
    </div>

    {% block javascripts %}
        {% javascripts 'Resources/public/js/*' output='js/compiled/app.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% if modal == true %}
            <script>
                $('#myModal').modal("show");
            </script>
        {% endif %} 
    {% endblock %}
</body>
<script>

</script>
<div id="fb-root"></div>
<script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id))
            return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.8";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<div id="fb-root"></div>
<script type="text/javascript">
    (function (d) {
        var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');
        p.type = 'text/javascript';
        p.async = true;
        p.src = '//assets.pinterest.com/js/pinit.js';
        f.parentNode.insertBefore(p, f);
    }(document));
</script>
</html>
