{% extends 'base.html.twig' %}

{% block title %}Cuisine Vive{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <header>
        <div id="home" class="barTop">  
            <div class="content">
                <div class="promotion">
                    <p class="promotion-text">{{ lang.homepage.sectionPromo.content.text }} </p>
                </div>
                <div class="links">        

                    {#<a href="{{ lang.homepage.sectionTop.link0.path}}">
                        <p class="">{{ lang.homepage.sectionTop.link0.title}}</p>
                    </a>
                    <a href="{{ lang.homepage.sectionTop.link1.path}}">
                        <p class="">{{ lang.homepage.sectionTop.link1.title}}</p>
                    </a>#}
                    <form method="POST">
                        <input type="hidden" name="language" value="{{ lang.homepage.sectionTop.link2.path }}">
                        <input type="submit" value="{{ lang.homepage.sectionTop.link2.title}}">
                    </form>
                    <div class="social-networks">
                        <ul>
                            <li class=""><a href="{{ lang.homepage.sectionTop.socialIcons.link1.path}}" target="_blank">
                                    <span class="icon icon-facebook-with-circle"/></a></li>
                                    {#<li class=""><a href="{{ lang.homepage.sectionTop.socialIcons.link2.path}}" target="_blank">
                                            <span class="icon icon-twitter-with-circle"/></a></li>#}
                            <li class=""> <a href="{{ lang.homepage.sectionTop.socialIcons.link3.path}}" target="_blank">
                                    <span class="icon icon-instagram-with-circle"/></a></li>
                                    {#<li class=""><a href="{{ lang.homepage.sectionTop.socialIcons.link4.path}}" target="_blank">
                                            <span class="icon icon-youtube-with-circle"/></a></li>#}
                                    {#<li class=""> <a href="{{ lang.homepage.sectionTop.socialIcons.link5.path}}" target="_blank">
                                            <span class="icon icon-google-with-circle"/></a></li>#}
                            <li class=""><a href="{{ lang.homepage.sectionTop.socialIcons.link6.path}}" target="_blank">
                                    <span class="icon icon-pinterest-with-circle"/></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar content" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <h1>
                        <a href="/">
                            {% image 'Resources/public/images/logo.png' %}
                            <img src="{{ asset_url }}" alt="Cuisine Vive" />
                            {% endimage %}
                        </a>    
                    </h1>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapsed" data-target="#navbar-collapse-1">
                        <span class="sr-only"> </span>
                        <span class="icon-bar bg-primary"></span>
                        <span class="icon-bar bg-primary"></span>
                        <span class="icon-bar bg-primary"></span>
                    </button>
                </div>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#{{ lang.homepage.sectionTop.menu1.path}}"> <span class="icon-home"></span></a></li>
                    <li><a href="#{{ lang.homepage.sectionTop.menu3.path}}">{{ lang.homepage.sectionTop.menu3.title}}</a></li>
                    <li><a href="#{{ lang.homepage.sectionTop.menu4.path}}">{{ lang.homepage.sectionTop.menu4.title}}</a></li>
                    <li><a href="#{{ lang.homepage.sectionTop.menu2.path}}">{{ lang.homepage.sectionTop.menu2.title}}</a></li>
                    <li><a href="#{{ lang.homepage.sectionTop.menu5.path}}">{{ lang.homepage.sectionTop.menu5.title}}</a></li>
                    <li><a  href="" data-toggle="modal" data-target="#myModal"> <span class="icon-shopping-cart"></span></a></li>
                </ul>
            </div>
        </nav>
    </header>
    {#<div class="promotion">
        <div class="content">
            <p class="promotion-text">{{ lang.homepage.sectionPromo.content.text }} <p>
        </div>
    </div>#}
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
            <li data-target="#carousel" data-slide-to="3"></li>
            <li data-target="#carousel" data-slide-to="4"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="img-responsive item active itm-1">
                {% image 'Resources/public/images/banner1.jpg' %}
                <img class="fill img-responsive" src="{{ asset_url }}" alt="Cuisine Vive" />
                {% endimage %}
                <div class="carousel-caption">
                    <p class="title-carousel">{{ lang.homepage.sectionCarousel.slider1.text }} <p>
                    <div class="button">
                        <a class="btn-1" href="{{ path('menu') }}">
                            {{ lang.homepage.sectionCarousel.slider1.button }}
                        </a>
                    </div>
                </div>
            </div>

            <div class="img-responsive item itm-2">
                {% image 'Resources/public/images/banner2.jpg' %}
                <img class="fill img-responsive" src="{{ asset_url }}" alt="Cuisine Vive" />
                {% endimage %}
                <div class="carousel-caption">
                    <p class="title-carousel">{{ lang.homepage.sectionCarousel.slider2.text }}<p>
                    <div class="button">
                        <a class="btn-1" href="{{ path('homepage', { '_fragment' : lang.homepage.sectionTop.menu3.path } ) }}">
                            {{ lang.homepage.sectionCarousel.slider2.button }}
                        </a>
                    </div>
                </div>
            </div>
            <div class="img-responsive item itm-3">
                {% image 'Resources/public/images/banner3.jpg' %}
                <img class="fill img-responsive" src="{{ asset_url }}" alt="Cuisine Vive" />
                {% endimage %}
                <div class="carousel-caption">
                    <p class="title-carousel">{{ lang.homepage.sectionCarousel.slider3.text }}<p>                       
                </div>
            </div>
            <div class="img-responsive item itm-4">
                {% image 'Resources/public/images/banner4.jpg' %}
                <img class="fill img-responsive" src="{{ asset_url }}" alt="Cuisine Vive" />
                {% endimage %}
                <div class="carousel-caption">
                    <p class="title-carousel">{{ lang.homepage.sectionCarousel.slider4.text }}<p>
                    <p class="subtitle-carousel">{{ lang.homepage.sectionCarousel.slider4.subtext }}<p>
                </div>
            </div>
            <div class="img-responsive item itm-5">
                {% image 'Resources/public/images/banner5.jpg' %}
                <img class="fill img-responsive" src="{{ asset_url }}" alt="Cuisine Vive" />
                {% endimage %}
                <div class="carousel-caption">
                    <p class="title-carousel">{{ lang.homepage.sectionCarousel.slider5.text }}<p> 
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </a>
        <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>            
        </a>
    </div>    
    <div id="{{ lang.homepage.sectionTop.menu3.path}}" class='howItWorks' >
        <div class='content'>
            <h2>{{ lang.homepage.sectionHowItWorks.contenu.title}}</h2>
            <p class="howItWorks-text">{{ lang.homepage.sectionHowItWorks.contenu.text }}</p>

            <div class="howItWorks-icons">
                <div class="howItWorks-icon">
                    <span class="home-works__icon-order icon-cart"></span>
                    <p>{{ lang.homepage.sectionHowItWorks.contenu.icon1 }}</p>
                </div>
                <div class="howItWorks-icon">
                    <span class="home-works__icon-order icon-food"></span>
                    <p>{{ lang.homepage.sectionHowItWorks.contenu.icon2 }}</p>
                </div>
                <div class="howItWorks-icon">
                    <span class="home-works__icon-order icon-truck"></span>
                    <p>{{ lang.homepage.sectionHowItWorks.contenu.icon3 }}</p>
                </div>
                <div class="howItWorks-icon">
                    <span class="home-works__icon-order icon-love"></span>
                    <p>{{ lang.homepage.sectionHowItWorks.contenu.icon4 }}</p>
                </div>
            </div>
            <div class="button">
                <a class="btn-1" role="button" data-toggle="collapse" href="#collapse" aria-expanded="false" aria-controls="collapse">
                    {{ lang.homepage.sectionHowItWorks.contenu.button }}
                </a>
            </div>
            <div class="collapse" id="collapse">
                {% for textHowItWorks in lang.homepage.sectionHowItWorks.contenu.list %}
                    <p><span class="glyphicon glyphicon-ok"></span>{{ textHowItWorks }}</p>                    
                    {% endfor %}
            </div>
        </div>  
    </div> 

    <div id="{{ lang.homepage.sectionTop.menu4.path}}" class='menu'>
        <div class='content'>
            <h2>{{ lang.homepage.sectionMenu.contenu.title}}</h2>
            <p>{{ lang.homepage.sectionMenu.contenu.text}}</p>
            <div class="categories-menu">
                {% for category in categories %}
                    {% for languageCat in category.languages %}
                        {% if languageCat.language.name == language %}
                            <div class="categories view view-first"> 
                                <img class="" src="{{ asset('Resources/public/images/' ~ category.photo ) }}" alt="{{ languageCat.name }}" />
                                <div class="category-bg mask">

                                    <h3>{{ languageCat.name}}</h3>

                                    <a class="info btn-2" href="{{ path('menu', { _fragment : category.name|replace({ (" "): "-" }) }) }}">
                                        {{ lang.homepage.sectionMenu.contenu.category.button1}}
                                    </a>
                                </div>  
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %} 
            </div>
        </div>
    </div>

    <div class='facebook'>
        <div class='content'>
            {% image 'Resources/public/images/sombreroChef.png' %}
            <img src="{{ asset_url }}" alt="Cuisine Vive" />
            {% endimage %}
            <div class="fb-page" data-href="https://www.facebook.com/cuisineVive/" data-tabs="timeline" data-width="500" data-height="220" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                <blockquote cite="https://www.facebook.com/cuisineVive/" class="fb-xfbml-parse-ignore">
                    <a href="https://www.facebook.com/cuisineVive/">Cuisine Vive</a>
                </blockquote>
            </div>
        </div> 
    </div>
    <div id='{{ lang.homepage.sectionTop.menu2.path}}' class="about">
        <div class='content'>
            <h2>{{ lang.homepage.sectionAbout.contenu.title}}</h2>
            <div id="aboutText">
                {% for textAbout in lang.homepage.sectionAbout.contenu.text %}
                    <p>{{ textAbout }}</p>
                {% endfor %}
            </div>
        </div>    
    </div>    
    <div class='newsletter'>
        <div class='content'>
            <div class="fl_left left">
                <h3>{{ lang.homepage.setionNewsletter.contenuLeft.title}}</h3>
                <p>{{ lang.homepage.setionNewsletter.contenuLeft.text }}</p>
                <input class="emailNewsletter" type="text" placeholder="{{lang.homepage.setionNewsletter.contenuLeft.placeholder}}">
                <a class="btn-3" href="{{lang.homepage.setionNewsletter.contenuLeft.path}}" target="_blank">
                    {{lang.homepage.setionNewsletter.contenuLeft.pathTitle}}</a>
            </div>
            <div class="fl_right right">
                <h3>{{ lang.homepage.setionNewsletter.contenuRight.title}}</h3>
                <div class="social-networks">
                    <ul>
                        <li class=""><a href="{{ lang.homepage.sectionTop.socialIcons.link1.path}}" target="_blank">
                                <span class="icon icon-facebook-with-circle"/></a></li>
                                {#<li class=""><a href="{{ lang.homepage.sectionTop.socialIcons.link2.path}}" target="_blank">
                                        <span class="icon icon-twitter-with-circle"/></a></li>#}
                        <li class=""> <a href="{{ lang.homepage.sectionTop.socialIcons.link3.path}}" target="_blank">
                                <span class="icon icon-instagram-with-circle"/></a></li>
                                {#<li class=""><a href="{{ lang.homepage.sectionTop.socialIcons.link4.path}}" target="_blank">
                                        <span class="icon icon-youtube-with-circle"/></a></li>#}
                                {#<li class=""> <a href="{{ lang.homepage.sectionTop.socialIcons.link5.path}}" target="_blank">
                                        <span class="icon icon-google-with-circle"/></a></li>#}
                        <li class=""><a href="{{ lang.homepage.sectionTop.socialIcons.link6.path}}" target="_blank">
                                <span class="icon icon-pinterest-with-circle"/></a></li>
                    </ul> 
                </div>
            </div>    
        </div>
    </div>
    <div id='{{ lang.homepage.sectionTop.menu5.path}}' class="contact">
        <h2>{{ lang.homepage.sectionContact.contenu.title}}</h2>  
        <div class="info">
            <p class="text">{{ lang.homepage.sectionContact.contenu.text }}</p>
            <p class="email"><span class="icon icon-mail4"/>info@cuisinevive.ca</p>
            <p class="tel"><span class="icon icon-phone"/>438 886-5538</p>                
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2799.36119370762!2d-73.66795814971718!3d45.44237714281923!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc916c2c580f6c7%3A0xec565c5c950bdb96!2s702+2e+Avenue%2C+Lachine%2C+QC+H8S!5e0!3m2!1ses!2sca!4v1489848842461"></iframe>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

