{% extends 'base.html.twig' %}

{% block title %}Cuisine Vive{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {#<h1>Your lucky number is {{ lang.homepage.title}}</h1>
    <span class='glyphicon glyphicon-edit'>
    <ul>
       {% for thumbnail in lang.homepage.section1.thumbnails %}
           <li>{{ thumbnail.imagepath|e }}</li>
           {% endfor %}
   </ul> #}

    <header>
        <div class="barTop mainBgColor">  
            <div class="container">
                <div class="links">
                    <a href="{{ lang.homepage.sectionTop.link1.path}}">
                        <p class="">{{ lang.homepage.sectionTop.link1.title}}</p>
                    </a>
                    <a href="{{ lang.homepage.sectionTop.link2.path}}">
                        <p class="">{{ lang.homepage.sectionTop.link2.title}}</p>
                    </a>
                    <div class="social-networks">
                        <ul>
                            <a href="{{ lang.homepage.sectionTop.link1.path}}" target="_blank">
                                <li class=""><span class="icon icon-facebook-with-circle"></span></li>
                            </a>
                            <a href="{{ lang.homepage.sectionTop.link1.path}}" target="_blank">
                                <li class=""><span class="icon icon-twitter-with-circle"></span></li>
                            </a>
                            <a href="{{ lang.homepage.sectionTop.link1.path}}" target="_blank">
                                <li class=""><span class="icon icon-instagram-with-circle"></span></li>
                            </a>
                            <a href="{{ lang.homepage.sectionTop.link1.path}}" target="_blank">
                                <li class=""><span class="icon icon-youtube-with-circle"></span></li>
                            </a>
                            <a href="{{ lang.homepage.sectionTop.link1.path}}" target="_blank">
                                <li class=""><span class="icon icon-google-with-circle"></span></li>
                            </a>
                            <a href="{{ lang.homepage.sectionTop.link1.path}}" target="_blank">
                                <li class=""><span class="icon icon-pinterest-with-circle"></span></li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar">
            <div class="container">
                <h1>
                    <a href="/">
                        {% image 'Resources/public/images/logo.png' %}
                        <img src="{{ asset_url }}" alt="Cuisine Vive" />
                        {% endimage %}
                    </a>    
                </h1>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li><a href="#">Separated link<span class='glyphicon glyphicon-apple'></span></a></li>                                
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>  
        </nav>

    </header>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

