{% extends 'base.html.twig' %}

{% block title %}Menu - Cuisine Vive{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="promo">
        <div class="content">
            <p class="text">{{ lang.homepage.sectionPromo.content.text }} </p>
        </div>
    </div>
    <header>
        <div id="home" class="barTop">  
            <div class="content">
                <div class="promotion">
                    <p class="promotion-text">{{ lang.homepage.sectionPromo.content.text }} </p>
                </div>
                <div class="links"> 
                    <form method="POST">
                        <input type="hidden" name="language" value="{{ lang.homepage.sectionTop.link2.path }}">
                        <input type="submit" value="{{ lang.homepage.sectionTop.link2.title}}">
                    </form>
                    <div class="social-networks">
                        <ul>
                            <li class=""><a href="{{ lang.homepage.sectionTop.socialIcons.link1.path}}" target="_blank">
                                    <span class="icon icon-facebook-with-circle"/></a></li>
                            <li class=""> <a href="{{ lang.homepage.sectionTop.socialIcons.link3.path}}" target="_blank">
                                    <span class="icon icon-instagram-with-circle"/></a></li>
                            <li class=""><a href="{{ lang.homepage.sectionTop.socialIcons.link6.path}}" target="_blank">
                                    <span class="icon icon-pinterest-with-circle"/></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar content" id="nav" role="navigation">
            <div class="container-fluid content">
                <div class="navbar-header">
                    <h1>
                        <a href="/">
                            {% image 'Resources/public/images/logo.png' %}
                            <img src="{{ asset_url }}" alt="Cuisine Vive" />
                            {% endimage %}
                        </a>    
                    </h1>
                    <div class='cart-collapsed'>
                        <a  href="" data-toggle="modal" data-target="#myModal"> 
                            <span class="icon-shopping-cart"></span>
                        </a>
                    </div>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only"> </span>
                        <span class="icon-bar bg-primary"></span>
                        <span class="icon-bar bg-primary"></span>
                        <span class="icon-bar bg-primary"></span>
                    </button>
                </div>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ path('homepage') }}"> <span class="icon-home"></span></a></li>
                    <li class="button">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="icon icon-circle-with-cross"/></button>
                    </li>
                    <li><a href="{{ path('homepage') }}#{{ lang.homepage.sectionTop.menu3.path}}">{{ lang.homepage.sectionTop.menu3.title}}</a></li>
                    <li><a href="{{ path('homepage') }}#{{ lang.homepage.sectionTop.menu4.path}}">{{ lang.homepage.sectionTop.menu4.title}}</a></li>
                    <li><a href="{{ path('homepage') }}#{{ lang.homepage.sectionTop.menu2.path}}">{{ lang.homepage.sectionTop.menu2.title}}</a></li>
                    <li><a href="{{ path('homepage') }}#{{ lang.homepage.sectionTop.menu5.path}}">{{ lang.homepage.sectionTop.menu5.title}}</a></li>
                    <li><a  href="" data-toggle="modal" data-target="#myModal"> <span class="icon-shopping-cart"></span></a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class='menuCategory content' id="menuCategory">
        <h1>{{ lang.menu.contenu.title }}</h1>
        {% for category in categories %}
            <article class="" id="{{ category.id|replace({ (" "): "-" }) }}">
                <h2>{{ category.name}}</h2>
                {% for dish in category.dishes %}
                    <div class="listMenu content">
                        <a class="title" href="{{ path('menuId', { 'id' : dish.name|replace({ (" "): "-" }) } ) }}">
                            <h3>{{ dish.name }}</h3>
                        </a> 
                        <div class="view second-effect">  
                            <img class="" src="{{ asset('Resources/public/images/' ~ dish.photo ) }}" alt="{{ dish.name }}" />
                            <div class="mask">
                                <a class="info" href="{{ path('menuId', { 'id' : dish.name|replace({ (" "): "-" }) } ) }}">
                                    <span class="icon-zoom-in"></span> 
                                </a>                                      
                            </div>  
                        </div>                             
                        <p class="description">{{ dish.description }}</p>
                        <div class="icons">
                            {% for icon in dish.icons %}
                                <img class="" src="{{ asset('Resources/public/images/' ~ icon ) }}" alt="{{ dish.name }}" />
                            {% endfor %}
                        </div>
                        {% for portion in dish.portions %}
                            <div class="portion">
                                <h3>{{ portion.name }}</h3>
                                <p>$ {{ portion.price }}</p>
                                <form method="POST" action="{{ path('updateCart') }}" class="js_cart" >
                                    <input type="hidden" name="dish_item" value="{{ portion.id }}">
                                    <button type="submit" class="cart" ><span class="icon-shopping-cart"></span></button>
                                </form>
                                {#<a class="cart" data-toggle="modal" data-target="#myModal"> <span class="icon-shopping-cart"></span></a>#}
                                <form method="POST" action="{{ path('order') }}">
                                    <input type="hidden" name="dish_item" value="{{ portion.id }}">
                                    <button type="submit" class="btn-4">{{lang.menuId.button.title}}</button>
                                </form>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </article>
        {% endfor %}  
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

