<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Cuisine Vive{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ lang.homepage.meta.description}}">
        <meta name="keywords" content="{{ lang.homepage.meta.keywords}}">
        <link href="https://fonts.googleapis.com/css?family=Catamaran|Dancing+Script" rel="stylesheet">
        {% block stylesheets %}
            {% stylesheets 'Resources/public/css/*' filter='cssrewrite' output='css/compiled/app.css' %}
            <link href="{{ asset_url }}" rel="stylesheet" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body>
        <header>
            <div id="home" class="barTop">  
                <div class="content">
                    <div class="promotion">
                        <p class="promotion-text">{{ lang.homepage.sectionPromo.content.text }} {{ liv|date("d/m/Y") }} - {{ liv|date_modify('+1 day')|date(" d/m/Y") }}</p>
                    </div>
                    <div class="links">  
                        <form method="POST">
                            <input type="hidden" name="language" value="{{ lang.homepage.sectionTop.link2.path }}">
                            <input type="submit" value="{{ lang.homepage.sectionTop.link2.title}}">
                        </form>
                        <div class="social-networks">
                            <ul>
                                <li class=""><a href="{{ lang.homepage.sectionTop.socialIcons.link1.path}}" target="_blank">
                                        <span class="icon icon-facebook-with-circle"/></a></li>
                                <li class=""> <a href="{{ lang.homepage.sectionTop.socialIcons.link3.path}}" target="_blank">
                                        <span class="icon icon-instagram-with-circle"/></a></li>
                                <li class=""><a href="{{ lang.homepage.sectionTop.socialIcons.link6.path}}" target="_blank">
                                        <span class="icon icon-pinterest-with-circle"/></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="navbar content" id="nav" role="navigation">
                <div class="container-fluid content">
                    <div class="navbar-header">
                        <h1>
                            <a href="/">
                                {% image 'Resources/public/images/logo.png' %}
                                <img src="{{ asset_url }}" alt="Cuisine Vive" />
                                {% endimage %}
                            </a>    
                        </h1>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only"> </span>
                            <span class="icon-bar bg-primary"></span>
                            <span class="icon-bar bg-primary"></span>
                            <span class="icon-bar bg-primary"></span>
                        </button>
                    </div>
                </div>
                <div class="collapse navbar-collapse content" id="navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{{ path('homepage') }}"> <span class="icon-home"></span></a></li>
                        <li class="button">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="icon icon-circle-with-cross"/></button>
                        </li>
                        <li><a href="{{ path('homepage') }}#{{ lang.homepage.sectionTop.menu3.path}}">{{ lang.homepage.sectionTop.menu3.title}}</a></li>
                        <li><a href="{{ path('homepage') }}#{{ lang.homepage.sectionTop.menu4.path}}">{{ lang.homepage.sectionTop.menu4.title}}</a></li>
                        <li><a href="{{ path('homepage') }}#{{ lang.homepage.sectionTop.menu2.path}}">{{ lang.homepage.sectionTop.menu2.title}}</a></li>
                        <li><a href="{{ path('homepage') }}#{{ lang.homepage.sectionTop.menu5.path}}">{{ lang.homepage.sectionTop.menu5.title}}</a></li>
                        <li class="hidden"></li>
                    </ul>
                </div>
            </nav>
        </header>
        <article class="content orderSummary">
            {% if cart %}
                <form method="POST" class="form-horizontal" id="order_form">
                    <h2>{{ lang.order.contenu.title }}</h2>
                    <table class="table table-condensed">
                        <tr>
                            <th></th>
                            <th class="name">{{ lang.shoppingCart.contenu.dishName }}</th>
                            <th class="portion">{{ lang.shoppingCart.contenu.dishPortion }}</th>
                            <th>{{ lang.shoppingCart.contenu.dishPrice }}</th>
                            <th class="qty" >{{ lang.shoppingCart.contenu.dishQty }}</th>
                            <th class="total">{{ lang.shoppingCart.contenu.dishTotal }}</th>
                        </tr>
                        {% for item in cart %}
                            <tr id="item_{{ item.id }}">
                                <td><img class="" src="{{ asset('Resources/public/images/' ~ item.photo ) }}" alt="{{ item.dishName }}" /></td>
                                <td>{{ item.dishName }}</td>
                                <td>{{ item.portionName }}</td>
                                <td>$<input type="text" class="price" id="price_{{ item.id }}" value="{{ item.price }}" disabled="disabled" ></td>
                                <td>
                                    <div class="editQte">
                                        <span class="glyphicon glyphicon-minus-sign" data-minus="_{{ item.id }}"></span>
                                        <input type="text" class="chartQte" name="qte_{{ item.id }}" id="qte_{{ item.id }}" data-total="_{{ item.id }}" value="{{ item.qte }}">
                                        <span class="glyphicon glyphicon-plus-sign" data-plus="_{{ item.id }}"></span>
                                    </div>
                                </td>
                                <td><input type="text" id="total_{{ item.id }}" class="bfTaxes orderTotal chartTotal" disabled="disabled"></td>
                                <td><span class="glyphicon glyphicon-trash" data-delete="_{{ item.id }}"></span></td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td class="title">{{ lang.shoppingCart.contenu.deliveryTitle }}</td>
                            <td><label class="option" for="pickUp">{{ lang.shoppingCart.contenu.pickup }}</label><input type="radio" id="pickUp" name="shipping" value="0" checked></td>
                            <td><label class="option" for="delivery">{{ lang.shoppingCart.contenu.delivery }}</label><input type="radio" id="delivery" name="shipping" value="1"></td>
                            <td><label class="option pc js_hidde_show hiddenCP" for="pc">{{ lang.shoppingCart.contenu.zipCode }} </label><input class="pcText js_hidde_show hiddenCP" type="text" id="pc"></td>
                            <td><input type="text" id="deli_total" name="deli_total" class="orderTotal chartTotal" readonly="readonly"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>{{ lang.shoppingCart.contenu.GST }}</td>
                            <td><input type="text" id="tps_total" class="chartTotal" disabled="disabled"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>{{ lang.shoppingCart.contenu.QST }}</td>
                            <td><input type="text" id="tvq_total" class="chartTotal" disabled="disabled"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>TOTAL</td>
                            <td><input type="text" id="total_total" name="total_total" class="total_total" readonly="readonly"></td>
                            <td></td>
                        </tr>
                    </table>
                    <div class="form-group">
                        <label class="control-label" for="name">{{ lang.order.form.name }}</label>
                        <input type="text" id="name" name="name" class="form-control" >
                    </div>
                    <div class="form-group js_form_hidde_show hidden">
                        <label class="control-label" for="address">{{ lang.order.form.address }}</label>
                        <input type="text" id="address" name="address" class="form-control" >
                    </div>
                    <div class="form-group js_form_hidde_show hidden">
                        <label class="control-label" for="postalCode">{{ lang.order.form.zipcode }}</label>
                        <input type="text" id="postalCode" name="postalCode" class="form-control" readonly="readonly">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="email">{{ lang.order.form.email }}</label>
                        <input type="text" id="email" name="email" class="form-control" >
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="tel">{{ lang.order.form.tel }}</label>
                        <input type="text" id="tel" name="tel" class="form-control" >
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="tel">{{ lang.order.form.comments }}</label>
                        <textarea class="form-control" name="comments" id="comments" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="input_newsletter" name="input_newsletter" class="form-control" >
                        <label class="control-label large" for="input_newsletter">{{ lang.order.form.newsletter }}</label>
                    </div>
                    <button type="submit" class="btn-2" name="order">{{ lang.order.form.submit }}</button>
                </form>
            {% else %}
            </div>
            <div class="orderEmpty">
                <p class="emptyText">{{ lang.shoppingCart.contenu.emptyText }}</p>                
                <a type="button" class="btn-1" href="{{ path('menu') }}">{{ lang.shoppingCart.button3.text }}</a>                            
            </div>
        {% endif %}
    </article>

    <footer>
        <div class="content">
            <div class="col col-1">
                <li><a href="{{ path('homepage') }}#{{ lang.homepage.sectionTop.menu3.path}}">{{ lang.homepage.sectionTop.menu3.title}}</a></li>
                <li><a href="{{ path('homepage') }}#{{ lang.homepage.sectionTop.menu2.path}}">{{ lang.homepage.sectionTop.menu2.title}}</a></li>                
            </div>
            <div class="col col-2">
                <li><a href="{{ path('homepage') }}#{{ lang.homepage.sectionTop.menu4.path}}">{{ lang.homepage.sectionTop.menu4.title}}</a></li>
                <li><a href="{{ path('homepage') }}#{{ lang.homepage.sectionTop.menu5.path}}">{{ lang.homepage.sectionTop.menu5.title}}</a></li>
            </div>
            <div class="col col-3">                
                <div class="copyright ">
                    <span class="wt">Cuisine Vive</span> - 702 2e Avenue, Montréal, QC H8S 0A3<div style="clear:both"></div>
                    <span class="wt">Copyright © 2017 </span><a class="wt" href="#" target="_blank">Cuisine Vive</a>
                    {#Powered by <a href="" target="_blank">CarlosyVanessa Marketing</a> #}
                </div>
            </div>
            <div class="col col-4">
                <div class="social-networks">
                    <ul>
                        <li class=""><a href="{{ lang.homepage.sectionTop.socialIcons.link1.path}}" target="_blank">
                                <span class="icon icon-facebook-with-circle"/></a></li>
                        <li class=""> <a href="{{ lang.homepage.sectionTop.socialIcons.link3.path}}" target="_blank">
                                <span class="icon icon-instagram-with-circle"/></a></li>
                        <li class=""><a href="{{ lang.homepage.sectionTop.socialIcons.link6.path}}" target="_blank">
                                <span class="icon icon-pinterest-with-circle"/></a></li>
                    </ul> 
                </div>
            </div>
        </div>
    </footer>
    <div class="modal fade" id="error_zip_code" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">          
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="icon icon-circle-with-cross"/></button>
                    {% image 'Resources/public/images/logo.png' %}<img src="{{ asset_url }}" alt="Cuisine Vive"/>{% endimage %}

                    <h4 class="modal-title" id="">{{ lang.modalOrder.title }}</h4>
                </div>
                <div class="modal-body" id="cartBody">
                    {% for textModalOrder in lang.modalOrder.contenu.list %}
                        <p><span class="glyphicon glyphicon-info-sign"></span>{{ textModalOrder }}</p>                    
                        {% endfor %}
                </div>
                <div class="modal-footer" id="cartFooter">

                </div>
            </div>
        </div>
    </div>
    {% block javascripts %}
        {% javascripts 'Resources/public/js/*' output='js/compiled/app.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %} 
    {% endblock %}
</body>
</html>