{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dishlanguages list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Ingredients</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dishLanguage in dishLanguages %}
            <tr>
                <td><a href="{{ path('dishlanguage_show', { 'id': dishLanguage.id }) }}">{{ dishLanguage.id }}</a></td>
                <td>{{ dishLanguage.name }}</td>
                <td>{{ dishLanguage.description }}</td>
                <td>{{ dishLanguage.ingredients }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('dishlanguage_show', { 'id': dishLanguage.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('dishlanguage_edit', { 'id': dishLanguage.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('dishlanguage_new') }}">Create a new dishLanguage</a>
        </li>
    </ul>
{% endblock %}
