{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dishicons list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dishIcon in dishIcons %}
            <tr>
                <td><a href="{{ path('dishicon_show', { 'id': dishIcon.id }) }}">{{ dishIcon.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('dishicon_show', { 'id': dishIcon.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('dishicon_edit', { 'id': dishIcon.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('dishicon_new') }}">Create a new dishIcon</a>
        </li>
    </ul>
{% endblock %}
